<!-- nav -->
<app-header></app-header>

<!-- <div class="topnav">
  <a class="active" href="#home">Home</a>
  <div>
    <div class="dropdown">
      <a>Dropdown</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <a routerLink="/" (click)="logout()">Logout</a>
</div> -->

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
