.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      position: relative;

      a {
        display: block;
        padding: 10px;
        color: #fff;
      }

      &:hover .dropdown-menu {
        display: block;
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #333;
        list-style: none;
        z-index: 1;
        left: -30px;

        a {
          color: #fff;
        }
      }
    }
  }

  a:hover {
    cursor: pointer;
  }
}
